.flex {
    display:flex;
}
.items-center {
    align-items: center;
}
.justify-content {
    justify-content: center;
}
.border {
    border:2px solid red;
    margin:3px;
}
.bg-black {
    background:black;
    color:white;
}
.invert {
    filter:invert(1);
}
.bg-gray {
    background:#121212;
}
.rounded {
    border-radius:7px;
}
.m-1 {
    margin:5px;
}
.svg-size {
    height:23px;
}
.p-2 {
    padding:20px 24px;
}

/* For WebKit browsers (Chrome, Safari, and newer versions of Edge) */
::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background: #2a2a2a;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 6px;
    border: 3px solid #2a2a2a;
}

::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* For Firefox */
html {
    scrollbar-width: thin;
    scrollbar-color: #888 #2a2a2a;
}

/* For IE and Edge */
* {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: thin;  /* Firefox */
}

*::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}

/* Optional for better aesthetics on all browsers */
body {
    overflow-y: scroll; /* always show vertical scrollbar */
    overflow-x: hidden; /* disable horizontal scrollbar */
}
